{% macro displayBlogs(blog_list) %}

{% for blogs in blog_list %}
<div class="well">
    <a href="/blog/{{blogs.id}}">{{blogs.title}} </a>
    <p>{{blogs.content}}</p>
  </div>
{% endfor %}

{% endmacro %}


{% macro displayComments(comment_list) %}

{% for comments in comment_list %}
<p>{{comments.content}} </p>

{% endfor %}
{% endmacro %}


{% macro displayAdminBlogs(blog_list) %}

{% for blogs in blog_list %}
<div class="well">
  <a href="/admin/blog/{{blogs.id}}">{{blogs.title}} </a>
  <p>{{blogs.content}}</p>
</div>
{% endfor %}

{% endmacro %}


{% macro displayAdminComments(comment_list) %}

{% for comments in comment_list %}
<p><a href="/blog/comment/{{comments.id}} ">{{comments.content}}</a></p>

{% endfor %}
{% endmacro %}